#container {
  perspective: 400px;
  perspective-origin: top;
  position: absolute;
  top: 35%;
  left: 50%;
}

p {
  font-size: 60vw;
  position: absolute;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #BBB0AE;
  -webkit-text-stroke-width: 0.8vw;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 20px 20px #41414050;
  transform: rotateX(45deg) translateX(-50%) translateY(-50%);
}
